@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: #fff;
    --bg-gradient: linear-gradient(135deg, rgba(20,0,50,1) 19%, rgba(0,0,0,1) 67%, rgba(18,0,75,1) 94%);
    color: var(--text-color);
    background: var(--bg-gradient);
}

.light {
    --text-color: #000;
    --bg-gradient: linear-gradient(135deg, rgb(151, 185, 213) 15%, rgb(127, 150, 188) 67%, rgb(73, 92, 118) 94%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
