@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    color: #fff;
    height: 10px;
}
body{
    background: rgb(20,0,50);
    background: linear-gradient(135deg, rgba(20,0,50,1) 19%, rgba(0,0,0,1) 67%, rgba(18,0,75,1) 94%);   
}
